<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/styles/styles.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
</head>

<body>
    {# NABAR #}
    <div class="nav">
        <div class="nav-btns">
            <div class="btn-on nav-on"></div>
            <button id="btn-nav-1" class="btn-nav on" onclick="BtnNav('1');">Convertir</button>
            <button id="btn-nav-2" class="btn-nav" onclick="BtnNav('2');">USDT</button>
        </div>
    </div>
    {# PRINCIPAL #}
    <main>{% block main %}{% endblock %}</main>
    {# Scripts #}
    <script src="{{url_for('static', filename='scripts/script.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/btn.js')}}" defer></script>
</body>

</html>